@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

body{
    margin: 0px;
    padding: 0px;
    background: #333;
}
#bg{
    height: 100vh;
    width: 100%;
    position: absolute;
    overflow: hidden;
}
#bg img{
    height: 120vh;
    width: 105%;
    -webkit-filter:blur(20px);
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}
#blackLayer{
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,.2);
    position: absolute;
    z-index: 99;
}
#main{
    width: 25%;
    background-color:#fff;
    border-radius: 15px;
    position: absolute;
    top:67%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
}
#image img{
    height: 180px;
    width: 100%;
    margin-top: -5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#player{
    padding: 25px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    color:#333;
}
#songTitle{
    width:300px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    position: absolute;
    /* top:60%; */
    left: 50%;
    transform: translate(-50%,-50%);
}
#buttons{
    height: 50px;
    width: 100%;
    margin-top: 50px;
    position:relative;
    top:10%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#play,#next,#pre{
    width: 50px;
    height: 50px;
    border: 0;
    background-color:#F10301;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#play:hover {
    background-color: #e00606;
}

#next{
    width: 30px;
    height: 30px;
    left: 70%;
}

#next:hover {
    background-color: #e00606;
}
#pre{
    width: 30px;
    height: 30px;
    left: 30%;
}
#pre:hover {
    background-color: #e00606;
}
#play img,#next img,#pre img{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#seek-bar{
    width: 250px;
    height: 5px;
    background-color:gray;
    display: flex;
    border-radius: 50px;
    /* margin-left: 25px; */
    cursor: pointer;
}
#fill{
    height: 5px;
    background-color: #F10301; 
     /* royalblue; */
    border-radius: 20px;
}
#handle{
    width: 8px;
    height: 8px;
    background-color:#F10301;
    border-radius: 50%;
    margin-left: -5px;
    transform: scale(2);
}
#songsList {
    overflow-y: scroll;
    -ms-overflow-style: none;
    height:200px;
    display: block;
}

#songsList::-webkit-scrollbar {
    display: none;
}

#songsList ol {
    margin: 0;
    /* padding: 0; */
}

#songsList ol li {
    font-family: 'Poppins', sans-serif;
}
#songsList ol li:hover {
    cursor: pointer;
    font-weight: 500;
    color: #F10301;
}
#container {
    z-index: 999;
    position: absolute;
    top: 80px;
    left: 100px;
    right: 100px;
    bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
    font-family: 'Poppins', sans-serif;
}

#container h2 {
    text-align: center;
    font-size: 5em;
    line-height: 0.7em;
    color: #fff;
    margin-top: -40px;

}

#container h2 span {
    display: block;
    font-size: 1.3em;
    font-weight: 500;
    letter-spacing: 6px;
    font-size: 0.2em;
}

#countdown {
    display: flex;
    justify-content: center;
    margin-top: -20px;
    /* margin-top: 50px; */
}

#countdown div {
    position: relative;
    width: 70px;
    height: 50px;
    line-height: 44px;
    text-align: center;
    background: #444;
    color: #fff;
    margin: 0 15px;
    font-size: 1.5em;
    font-weight: 500;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;  
}

#countdown div:before {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    height: 35px;
    background: #F10301;
    color: #fff;
    font-size: 0.6em;
    line-height: 35px;
    font-weight: 400;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#countdown #day:before {
    content: 'Days';
}
#countdown #hour:before {
    content: 'Hours';
}
#countdown #minute:before {
    content: 'Minutes';
}
#countdown #second:before {
    content: 'Seconds';
}
/* @media screen and (max-width: 1200px) {
    #main {
        width: 85%;
    }
}

@media screen and (min-width: 1201px) {
    #main {
        width: 25%;
    }
} */
@media screen and (max-device-width : 1400px) {
    /* Styles */
  
    #songsList {
        display: none;
        /* height: 0; */
        overflow-y: scroll;
        /* height:200px; */
    }
    #main {
        width: 55%;
        /* height: 60%; */
    }
    /* #songsList ol {
        display: none;
        margin: 0;
        padding: 0;
    }; */
}

@media screen and (max-device-height : 768px) {
    /* Styles */
  
    #songsList {
        display: none;
        /* height: 0; */
        overflow: hidden; 
        /* height:200px; */
    }

    #main {
        width: 27%;
        /* height: 60%; */
    }
    /* #songsList ol {
        display: none;
        margin: 0;
        padding: 0;
    }; */

    #countdown div {
        position: relative;
        width: 70px;
        height: 50px;
        line-height: 44px;
        text-align: center;
        background: #444;
        color: #fff;
        margin: 0 15px;
        font-size: 1.5em;
        font-weight: 500;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;  
        margin-top: -20px;
    }
    
}

@media only screen and (min-device-width : 1919px) and (min-device-height : 1079px) {
     #main {
        width: 25%;
        /* height: 60%; */
    }
    /* #songsList ol {
        display: none;
        margin: 0;
        padding: 0;
    }; */

    #container {
        top: 80px;
        left: 100px;
        right: 100px;
        bottom: 80px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        /* align-items: center; */
        font-family: 'Poppins', sans-serif;
    }
    
    #container h2 {
        text-align: center;
        font-size: 7em;
        line-height: 0.7em;
        color: #fff;
        margin-top: -40px;
    
    }
    
    #container h2 span {
        display: block;
        font-size: 1.3em;
        font-weight: 500;
        letter-spacing: 6px;
        font-size: 0.2em;
    }
    
    #countdown {
        display: flex;
        justify-content: center;
        margin-top: -60px;
        /* margin-top: 50px; */
    }
    
    #countdown div {
        position: relative;
        width: 98px;
        height: 70px;
        line-height: 67px;
        text-align: center;
        background: #444;
        color: #fff;
        margin: 0 15px;
        font-size: 1.8em;
        font-weight: 500;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;  
    }
    
    #countdown div:before {
        content: '';
        position: absolute;
        bottom: -30px;
        left: 0;
        width: 100%;
        height: 35px;
        background: #F10301;
        color: #fff;
        font-size: 0.6em;
        line-height: 32px;
        font-weight: 400;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
} 

@media only screen and (min-device-width : 2500px) and (min-device-height : 1300px) {
    #main {
        width: 25%;
        height: 45%;
        /* height: 60%; */
    }
    /* #songsList ol {
        display: none;
        margin: 0;
        padding: 0;
    }; */
#songsList {
    height:230px;

}

#image img{
    height: 280px;
    width: 100%;
    margin-top: -5px;
}


    #container {
        top: 100px;
        left: 100px;
        right: 100px;
        bottom: 80px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        /* align-items: center; */
        font-family: 'Poppins', sans-serif;
    }
    
    #container h2 {
        text-align: center;
        font-size: 11em;
        line-height: 0.7em;
        color: #fff;
        margin-top: -40px;
    
    }
    
    #container h2 span {
        display: block;
        font-size: 1.1em;
        font-weight: 500;
        letter-spacing: 6px;
        font-size: 0.2em;
    }
    
    #countdown {
        display: flex;
        justify-content: center;
        margin-top: -60px;
        /* margin-top: 50px; */
    }
    
    #countdown div {
        position: relative;
        width: 137px;
        height: 110px;
        line-height: 107px;
        text-align: center;
        background: #444;
        color: #fff;
        margin: 0 15px;
        font-size: 3em;
        font-weight: 500;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;  
    }
    
    #countdown div:before {
        content: '';
        position: absolute;
        bottom: -30px;
        left: 0;
        width: 100%;
        height: 40px;
        background: #F10301;
        color: #fff;
        font-size: 0.6em;
        line-height: 36px;
        font-weight: 400;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}


@media only screen and (min-device-width : 3800px) and (min-device-height : 2000px) {
    #main {
        width: 25%;
        /* height: 60%; */
    }
    /* #songsList ol {
        display: none;
        margin: 0;
        padding: 0;
    }; */
#songsList {
    height: 320px;

}

#songsList ol {
    font-size: 2em;
    padding-left: 70px;
}

#image img{
    height: 400px;
    width: 100%;
    margin-top: -5px;
}


    #container {
        top: 100px;
        left: 100px;
        right: 100px;
        bottom: 80px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        /* align-items: center; */
        font-family: 'Poppins', sans-serif;
    }
    
    #container h2 {
        text-align: center;
        font-size: 15em;
        line-height: 0.7em;
        color: #fff;
        margin-top: -40px;
    
    }
    
    #container h2 span {
        display: block;
        font-size: 1.1em;
        font-weight: 500;
        letter-spacing: 6px;
        font-size: 0.2em;
    }
    
    #countdown {
        display: flex;
        justify-content: center;
        margin-top: -100px;
        /* margin-top: 50px; */
    }
    
    #countdown div {
        position: relative;
        width: 220px;
        height: 170px;
        line-height: 147px;
        text-align: center;
        background: #444;
        color: #fff;
        margin: 0 15px;
        font-size: 5em;
        font-weight: 500;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;  
    }
    
    #countdown div:before {
        content: '';
        position: absolute;
        bottom: -30px;
        left: 0;
        width: 100%;
        height: 55px;
        background: #F10301;
        color: #fff;
        font-size: 0.5em;
        line-height: 50px;
        font-weight: 400;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}